/* header */

header {
	background: url(../images/Smartphone.png) no-repeat center bottom -100px , 
				url(../images/ware.png) no-repeat center bottom, 
				url(../images/background.jpg) #0dccf0 no-repeat center center ;
	background-size: auto, 100%, cover;	
	padding: 50px 0px 550px 0px;
}

/* navbar */

.navbar {
	background-color: transparent;
	margin-bottom: 150px;
	justify-content: flex-end;
}

.navbar-expand-lg .navbar-nav .nav-item {
	margin-right: 30px;
}

.navbar-expand-lg .navbar-nav .nav-item:last-child {
	margin-right: 0px;
}

.navbar-expand-lg .navbar-nav .nav-link {
	color: white!important;
	font-size: 16px;
	position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link:before {
	content: '';
	width: 0;
	background-color: white;
	height: 2px;
	bottom: 0%;
	left: 50%;
	position: absolute;
	transition: 0.3s;
}

.navbar-expand-lg .navbar-nav .nav-link:hover:before {
	width: 100%;
	left: 0%;
}


/* jumbostron */

#jumbostron h1 {
	font-size: 45px;
	color: white;
	padding: 0px calc(100% - 76%);
}

#jumbostron p{
	margin: 30px 0px 40px 0px;
}

#jumbostron #action li {
	display: inline-block;
}

#jumbostron #action li a {
	height: 40px;
	line-height: 40px;
	padding: 0px 35px;
	background-color: white;
	color: black;
	font-size: 14px;
	display: block;
	border-radius: 4px;
	font-weight: bold;
	transition: 0.5s;
	box-sizing: border-box;
	border: 1px solid transparent;
}

#jumbostron #action li:nth-child(2) {
	margin-left: 25px;
} 

#jumbostron #action li:nth-child(2) a {
	background-color: #ccc;  
}

#jumbostron #action li a:hover {
	background-color: transparent;
	border: 1px solid white;

}

/* intro_viblo */

#intro_viblo {
	padding-top: 110px;
	padding-bottom: 140px;
	background-color: #fafafc;
}

#intro_viblo [class*="col-"] {
	align-self: center;
}

#intro_viblo .intro_box {
	width: calc(( 100% - 180px ) / 2);
	float: left;
	text-align: center;
	padding: 60px 30px 40px 30px;
	box-shadow: 0px 6px 9px rgba(35, 39, 47, 0.1);
}

#intro_viblo .intro_box:first-child {
	margin-left: 60px;
}

#intro_viblo .intro_box:nth-child(2n) {
	margin-left: 60px;
	margin-top: 95px;
}

#intro_viblo .intro_box h3 {
	font-size: 14px;
	color: #233148;
	margin: 30px;
}

#intro_viblo .intro_box p {
	color: #6a6d89;
	font-size: 14px;
}

/* stable */

#stable {
	padding-top: 90px;
	padding-bottom: 110px;
}

#stable [class*="col-"] {
	align-self: center;
}

#stable h2 {
	font-size: 30px;
	color: #233148;
}

#stable .stable_txt {
	text-align: right;
}

#stable .stable_txt p {
	font-size: 14px;
	color: #6a6d89;
	margin: 56px 0px 36px 0px;
}

#stable button {
	height: 50px;
	line-height: 50px;
	padding: 0px 46px;
	background-color: #33d2fd;
	color: white;
	border-radius: 4px;
	border: 1px solid transparent;
	transition: 0.5s;
}

#stable button:hover {
	background-color: transparent;
	border-color: #33d2fd;
	color: #33d2fd;
}

#stable .stable_box {
	box-shadow: 0px 6px 9px rgba(35, 39, 47, 0.1);
	display: block;
	/*padding: 36px 0px 36px 80px;*/
	transition: 0.5s;
	margin-bottom: 20px;
}

#stable .stable_box div{
	padding: 30px 0px 30px 75px;
	background-size: auto;
}

#stable .stable_box:nth-child(1) div{
	background: url(../images/love.png) no-repeat center left 20px;
}
#stable .stable_box:nth-child(2) div{
	background: url(../images/free-of-use.png) no-repeat center left 20px;
}
#stable .stable_box:nth-child(3) div{
	background: url(../images/clip.png) no-repeat center left 20px;
}
#stable .stable_box:nth-child(4) div{
	background: url(../images/pen.png) no-repeat center left 20px;
}

#stable .active {
	background-color: #33d2fd!important;
}

#stable .stable_box:hover {
	background-color: #33d2fd;
}

#stable .stable_box h3 {
	color: #233148;
	font-size: 15px;
}

#stable .stable_box p {
	display: none;
	font-size: 14px;
	padding: 0px 0px 32px 75px;
}

#stable .stable_box:nth-child(1) p {
	display: block;
}

/* everything */

#everything {
	padding: 70px 0px;
	background-color: #fafafc;
}

#everything [class*="col-"] {
	align-self: center;
}

#everything h2 {
	color: #233148;
	font-size: 30px;
}

#everything .right {
	margin: 35px 0px;
}

#everything .right li {
	padding: 15px 0px 15px 30px;
	background: url(../images/right.png) no-repeat center left;
	background-size: auto;
}

#everything p {
	color: #6a6d89;
	font-size: 14px;
}

/* available */

#available {
	padding: 150px 0px;
	background: url(../images/background.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
}

#available h2 {
	color: #233148;
	font-size: 30px;
}

#available p {
	color: white;
	margin: 30px 0px;
	font-size: 14px;
}

#available [class*="col-"] {
	align-self: center;
}

#available .left {
	text-align: right;
	margin-right: 20px;
}

#available ul li {
	display: inline-block;
}

#available ul li:first-child {
	margin-right: 30px;
}

#available #get_the_app {
	position: absolute;
	top: calc(100% - 25px);
	left: calc(50% - 125px);
	height: 50px;
	width: 250px;
	text-align: center;
	display: inline-block;
	line-height: 50px;
	border-radius: 4px;
	background-image: linear-gradient(to right, #d6c8ca, blue);
	color: white;
}

#available #get_the_app:hover {
	background-image: linear-gradient(to right, #de4963, #07077b);
}

/* footer-up */

#footer_up {
	padding: 150px 0px 80px 0px;
}

#footer_up .footer_box {
	text-align: center;
}

#footer_up .footer_box h3 {
	color: black;
	font-size: 30px;
	margin-bottom: 30px;
}

#footer_up .footer_box ul li a {
	font-size: 14px;
	color: #846868;
	padding: 5px 0px;
	display: block;
}

#footer_up .footer_box ul li a:hover {
	color: black;
}

/* get in touch */

#get_in_touch {
	text-align: center;
}

#get_in_touch p {
	font-size: 14px; 
	color: #6a6d89;
	margin:20px 0px 30px 0px;
}

.form-control {
	margin-right: 20px;
	border-radius: 4px!important;
}

/* footer */

footer {
	padding: 30px 0px;
	background-color: black;
	margin-top: 80px;
}

footer p {
	margin: 0px;
}

footer ul {
	margin: 0px; 
	text-align: right;
}

footer ul li {
	display: inline-block;
	margin-right: 30px;
}

footer ul li:last-child {
	margin-right: 0px;
}

footer ul li a img:hover {
	transform: scale(1.5);
	transition: 1s;
}

@media (max-width: 992px) {
	/* header */
	header {
		background: url(../images/Smartphone.png) no-repeat center bottom, 
				url(../images/ware.png) no-repeat center bottom, 
				url(../images/background.jpg) #0dccf0 no-repeat center center ;
				background-size: auto, 100%, cover;	
		padding-bottom: 600px;
	}

	/* navbar */
	.navbar {
		justify-content: flex-end;
	}

	.navbar-nav {
		flex-direction: row;
	}

	/* jumbostron */

	#jumbostron h1 {
		padding: 0px;
	}

	/* intro_viblo */
	#intro_viblo {
		padding: 0px;
		margin-top: 100px;
	}

	#intro_viblo .smartphone img {
		width: 100%;
	}

	#intro_viblo .intro_box:nth-child(2n), #intro_viblo .intro_box:first-child {
 		margin: 0px;
	}

	#intro_viblo .intro_box {
		width: 45%;
		margin: 2.5%!important;
		padding: 30px 5px 20px 5px;
	}

	/* everything */
	#everything {
		padding: 50px 0px 0px 0px;
	}

	#everything img {
		margin: auto;
		display: block;
		margin-top: 30px;
	}

	#everything .right {
		margin:20px 0px;
	}

	/* available */

	#available {
		margin-top: 50px;
	}

	#available .left {
		margin: 0px;
	}

	#available .left img{
		width: 100%;
	}

	/* footer_up */
	#footer_up {
		padding: 0px;
		margin-top: 80px;
	}

	#footer_up .footer_box h3 {
		font-size: 20px;
	}

	/* get_in_touch */

	#get_in_touch {
		margin-top: 50px;
	}

}

@media (max-width: 767px) {
	/* header */
	header {
		background: 
				url(../images/ware.png) no-repeat center bottom, 
				url(../images/background.jpg) #0dccf0 no-repeat center center ;
		padding-bottom: 100px;
	}

	#header {
		text-align: center;
	}

	/* navbar */

	.navbar {
		margin-top: 20px;
		display: block;
		text-align: center;
		margin-bottom: 75px;
	}

	.navbar-nav {
		display: block;
	}

	.navbar-nav li {
		display: inline-block;
	}

	/* jumbostron */ 

	#jumbostron h1 {
		font-size: 35px;
	}

	/* intro_viblo */

	#intro_viblo {
		padding: 0px;
		margin-top: 50px;
	}

	#intro_viblo .smartphone img {
		width: auto;
		margin: auto;
		display: block;
		margin-bottom: 30px;	
	}

	/* stable */

	#stable {
		padding-bottom: 0px;
	}

	#stable .stable_txt {
		text-align: center;
		margin-bottom: 30px;
	}

	/* everything */ 
	#everything {
		margin-top: 50px;
	}

	/* available */

	#available .left {
		margin-top: 30px;
	}

	#available .left img{
		width: auto;
		display: block;
		margin: auto;
	}

	/* footer_up */
	#footer_up .footer_box {
		margin-top: 20px;
	}

	#footer_up .footer_box h3 {
		margin-bottom: 10px;
	}
}

@media (max-width: 576px) {
	/* navbar */ 
	.navbar {
		margin-bottom: 50px;
	}


	#intro_viblo .intro_box {
		width: 100%;
		margin: 10px 0%!important;
		padding: 30px 5px 20px 5px;
	}

	/* available */

	#available {
		padding: 50px 0px;
	}

	/* footer */ 
	footer {
		text-align: center;
	}

	footer ul {
		text-align: center;
		margin-top: 30px;	
	}
}

@media (max-width: 470px) {
	/* navbar */
	.navbar-expand-lg .navbar-nav .nav-item {
		margin: 0px 15px;
	}
}

@media (max-width: 390px) {
	/* jumbostron */
	#jumbostron #action {
		text-align: center;
	}

	#jumbostron #action li {
		display: block;
	}

	#jumbostron #action li a {
		display: inline-block;
	}

	#jumbostron #action li:nth-child(2) {
		margin-left: 0px;
		margin-top: 20px;
	}

	/* everything */

	#everything .right li {
		padding: 5px 0px 5px 30px;
	}
}